body {
    margin: 0;
    font-family: "Circular Std", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--color-texts-opacity);
    text-align: left;
    
}
.headerfont {
    
    margin-left: 20px;
    font-size: 20px;
}
.bg-image{
   background-image:url(Image/image1.jpg);
   width: 100vw;
   height: 80vh;
  
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
}
.bg-color{
    background-color: black;
    width: 100vw;
    height: 80vh;
    opacity:0.4;
    position: relative;
}
.nav-color{
    z-index: 1;

}
/* .bg-gradient-black:before {
    background-image: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #13151C 100%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
} */
.gr-text-2 {
    font-size: 3.75rem;
    z-index: 1;
    line-height: 1.083;
    letter-spacing: 1.2px;
}
.gr-text-8 {
    font-size: 1.1875rem;
    letter-spacing: -0.2px;
    line-height: 1.69;
}
.textmr{
    margin-top: 100px;  
}

.gr-text-3{
    font-size: 50px;
  
}

.service-section{
    font-family: 'Roboto', sans-serif;
}
.gr-text-7{
font-size: large;
}

.circle-sm {
    max-width: 43px;
    min-width: 43px;
    max-height: 43px;
    min-height: 43px;
    border-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gr-bg-blue-opacity-1 {
    background-color: rgba(71, 59, 240, 0.1);
}
.mr-8, .mx-8 {
    margin-right: 1.5625rem !important;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.btn-primary {
    color: rgb(236, 232, 232);
    background-color: #473bf0;
    border-color: #473bf0;
}
.btn {
    min-width: 175px;
    min-height: 55px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 55px; */
    font-size: 20px;
    
}
.field{
    margin-left: 171px;
    /* margin-right: 214px; */
    font-size: 19px;
    padding: 13px;
    width: 245px;
}
.gr-text-5{
    font-family: 'Roboto', sans-serif;
}
.gr-text-9{
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
.gr-text-color {
    color: black;
    font-size: 1.0625rem;
    letter-spacing: -0.2px;
    line-height: 1.71;
}
.gr-text-11{
    font-family: 'Roboto', sans-serif;
    color: #888ba0;
}
.icon{
         text-align: right; 
         color: #767679;
         font-size: 17px;
}
.rounded-8 {
    border-radius: 8px;
}
.gr-abs-center {
    /* position: absolute; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.bg-white {
    background-color: #fff !important;
}
@media (min-width: 1200px){
.pl-xl-13, .px-xl-13 {
    padding-left: 3.125rem !important;
}
}
@media (min-width: 992px){
.mt-lg-0, .my-lg-0 {
    margin-top: 0 !important;
}
}
*, *::before, *::after {
    box-sizing: border-box;
}
.media-body{
    margin-top: -25px;
}
.gr-text-7{
    font-family: 'Roboto', sans-serif;
}
.gr-text-9{
   color: #888ba0;
   font-size: 19px;
}
.bg-pattern {
    position: relative;
    z-index: 1;
}

.pb-13, .py-13 {
    padding-bottom: 3.125rem !important;
}
.pt-13, .py-13 {
    padding-top: 3.125rem !important;
}
.overflow-hidden {
    overflow: hidden !important;
}
.bg-mirage {
    background-color: #131829 !important;
}
*, *::before, *::after {
    box-sizing: border-box;
}

.gr-text-11{
    padding: 13px;

}

.cta-form{
    border-radius: 30px;
}
.selectform{
color: #888ba0;
padding: 13px;
width: 291px;
margin-left: 14px;
}